body {
    background-color: #0e1117;
}

.movie-row {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
}

.movie-card img {
    height: 280px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie-card img:hover {
    transform: scale(1.1);
}

.movie-card p {
    color: white;
    text-align: center;
}
